extends layout

block content 
  .app(style='height:800px')
    nylas-agenda#cf28b6ba-19ab-4bbf-9ea0-e124703ee45c(access_token='7ZJXdHwV3uzjRwJK7bgoyUji9ClYJV' calendar_ids='6kzje3aeo9id6otaueoxgxsb4')  
