extends layout

block content 
  script(src='https://unpkg.com/@nylas/components-availability')
  .app(style='height:800px')
    nylas-availability#5b69583b-13d7-4a40-84c6-03ad170bdeea(access_token='7ZJXdHwV3uzjRwJK7bgoyUji9ClYJV')  
