extends layout

block content 
  script(src='https://unpkg.com/@nylas/components-composer')
  .app(style='height:800px')
    nylas-composer#54b8c331-698b-4ef5-af82-9ab6bd1d8b8d(access_token='7ZJXdHwV3uzjRwJK7bgoyUji9ClYJV')  
