extends layout

block content
  h1= data.title
  p You are now connected to google through Nylas
  p #{data.token}
  a(href="/connected/createlabel") Create Label
  p 
  a(href="/connected/sendemail") Send Email 
  p 
  a(href="/connected/findemail") findemail
  p
  a(href="/connected/agenda") agenda
  p 
  a(href="/connected/composer") composer
  p 
  a(href="/connected/availability") availability
  p
  a(href="/connected/scheduler-editor") scheduler-editor
  p 
  a(href="/connected/scheduler") scheduler
  p 
  a(href="/connected/mailbox") mailbox
  p
  a(href="/connected/contact-list") contact-list
  p
  a(href="/connected/conversation") conversation
  p 
  a(href="/connected/scheduler-component") scheduler-component
  p 
  a(href="/connected/email") email







