extends layout

block content 
  script(src='https://unpkg.com/@nylas/components-contact-list')
  .app(style='height:800px')
    nylas-contact-list#7d13fa5b-bc0b-43d6-8988-d762e96da6ed(access_token='7ZJXdHwV3uzjRwJK7bgoyUji9ClYJV', sort_by='last_emailed')  
