extends layout

block content 
  script(src='https://unpkg.com/@nylas/components-conversation')
  .app(style='height:800px')
    nylas-conversation#d706c9ed-a92e-4ec6-80e5-a63cb312773a(access_token='7ZJXdHwV3uzjRwJK7bgoyUji9ClYJV', thread_id='9cpj4p516r0dv4bimqcijlsdb' )
