extends layout

block content 
  script(src='https://unpkg.com/@nylas/components-email')
  .app(style='height:800px')
    nylas-email#0f8e2632-ac8b-4923-813a-e54156df9e33(access_token='7ZJXdHwV3uzjRwJK7bgoyUji9ClYJV' thread_id='9cpj4p516r0dv4bimqcijlsdb' show_thread_actions='false')  
