extends layout

block content 
  p(align='center')
    iframe#inlineFrameExample(title='Inline Frame Example' width='1000' height='600' src='https://schedule.nylas.com/kelly-gold-30min-5/book/1640032200?name=kelly&email=kellytgold@gmail.com')

 

